.navbar {
  background: rgba(52, 58, 64, 0.8);
  padding: 1rem;
  text-align: center;
}

.nav-link {
  margin: 0 15px;
  color: #f8f9fa;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}
